body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
  margin: 0; /* Remove default margin */
}
/* Style for the black footer */
footer {
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
  padding: 20px; /* Add padding for better appearance */
  text-align: center; /* Center align text */
}
.text {
  flex-grow: 1; /* Allow text to grow and take available space */
}

/* Style for the footer links */
footer a {
  color: #fff; /* White link color */
  text-decoration: none; /* Remove underlines */
  margin: 0 10px; /* Add spacing between links */
}
.language-switcher {
  display: inline-block;
  margin-top: 10px;
}

.language-switcher select {
  padding: 5px;}

  .confirmbtn {
    width: 100%; /* Make the button take full width */
    text-align: center; /* Center the button */
  }
  
  .confirmb {
    background-color: rgb(51 51 51);
    color: #fff;
    display: flex;
    gap: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
  }
  
  .confirmb:hover {
    background-color: #000;
    color: red;
  }


.totalcontain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}


.amount {
  background-color: #f9f9f9;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;}

.amount h1 {
  font-size: 1.5em; /* Adjust the font size for the title */
  margin-bottom: 10px; /* Add some space between the title and the amount */
}
.text {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.vert{    display: flex;
  flex-direction: row;
  gap: 80px;}

.delete-button {
  display: none;
  background-color: #ff5a5a; /* Red background color for delete button */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin: 7px; 
}

.delete-button:hover {
  display: none;
  background-color: #ff3030; /* Darker red on hover */
}


.itempic {
  width: 80px; /* Adjust the width of the image */
  height: 80px; /* Adjust the height of the image */
  object-fit: cover; /* Maintain aspect ratio without distortion */
  border-radius: 50%; /* Make the image a circle */
  margin-right: 15px; /* Add spacing between image and text */
  padding:15px;
}


.item {
  display: flex;
  background-color: #f9f9f9; /* Light background color */
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  color:#000000

}

.item:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.itemscontain {
  display: flex;
  flex-direction: column;
  gap: 20px
}

/*button*/
.contactinfo {
  background-color: #333; /* Dark background color */
  color: white;
  display: flex;
  line-height: 1.5;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
}

.contactinfo p {
  margin: 0; /* Remove default paragraph margin */
}

.john {
  font-size: large;
}

.contactcontain {
  display: flex;
  gap: 24px;
  margin: 15px;
  flex-direction: column;
}

.beans {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  max-height: 400px;
}

.black-box {
  background-color: #ededed;
  color: black;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
    box-shadow: 10px 5px 5px 10px rgba(0, 0, 0, 0.1)
}

.responsive {
  width: 100%;
  height: 10%;
  z-index: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 15px;
}
.logoimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
  z-index: 2;
  max-width: 100%;
  /* Make the image responsive */
  height: auto;
  /* Maintain aspect ratio */
}



.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  align-items: center; /* Center the container horizontally */
  justify-content: center; /* Center the container vertically */
}

@media screen and (max-width: 767px) {


  body {
      font-size: 12px;
  }


}

@media screen and (max-width: 1023px) and (min-width: 768px) {

  /* Your CSS rules here */
  body {
      font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {

  /* Your CSS rules here */
  body {
      font-size: 16px;
  }
}