body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.header {
  background-image: url(images/bean.jpg);
  background-size: cover;
  padding: 40px;
  opacity: 0.8;
  margin-top: 70px;
}

.container11 {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
gap: 20px;
  width: 100%;
}

.confirmation {
  margin: 20px 0;
}
.confirmation-message {
  padding: 30px; /* Increase padding for better appearance */
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  font-size: 24px; /* Increase font size for emphasis */
  text-align: center; /* Center text */
  transition: background-color 0.3s ease;
}


.address {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px; /* Increase padding to space out the buttons */
  border-radius: 8px; /* Round corners for a softer look */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for prominence */
}

button {
  padding: 15px 30px; /* Increase padding for better appearance */
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  font-size: 16px; /* Increase font size */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}


.footer {
  margin-top: auto;
  background-color: #000000;
  color: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  button {
    width: 80%;
    margin: 10px auto;
  }

  .container1 {
    width: 90%;
  }
}

.confirm-order-boxes .box {
  color: white;
  border: 2px solid white;
  padding: 10px;
  margin: 0px;
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.address-highlight {
  text-decoration: underline;
}