main { row-gap: 50px;
display: flex;
flex-direction: column;}
/*index*/
.menudiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

.menucontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    padding: 15px;
  
}
.menutext {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.address {
    display: flex;
    min-width: 40px;
    justify-content: center;
}

.hours {
    display: flex;
   
    min-width: 50%;
    background-color: black;
    color: white;
    justify-content: center;    gap: 10px;
}

.address,
.hours {
    margin: 10px;
    text-align: center;
}

.address p,
.hours p {
    margin: 0;
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    
}

.menubox {
    text-decoration: none;
    color: #fff;
    display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px; /* Increase padding to space out the buttons */
  border-radius: 8px; /* Round corners for a softer look */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for prominence */
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  font-size: 16px; /* Increase font size */
  transition: background-color 0.3s ease;
}

.menubox:hover {
    background-color: #555;
}

.menubox img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for images */
}


h1 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    /* Larger font size */

    /* Adjust top margin */
}

.locationdiv {
    display: flex;
    flex-direction: row;
    padding: 2%;
    gap: 2%;
    justify-content: center;

}

.locationbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 300px;
    background-color: black;
    /* Background color */
    color: #ecf0f1;
    /* Text color */
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Box shadow for depth */
    transition: background-color 0.3s ease;
    /* Smooth color transition on hover */
}



.locationbox img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    /* Rounded corners for images */
}

.responsive {
    width: 100%;
    height: 10%;
    z-index: 1;
}


.logoimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000000;
    z-index: 2;
    max-width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
}

/*button*/
.beans {
    position: relative;
}





.menu {
    max-width: 70%;
    width: auto;
    max-height: 300px;
    min-height: 200px;
    background-color: black;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 10px;
}

.containmenu {
    display: flex;
}

@media screen and (max-width: 767px) {


    body {
        font-size: 12px;
    }


}

@media screen and (max-width: 1023px) and (min-width: 768px) {

    /* Your CSS rules here */
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {

    /* Your CSS rules here */
    body {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding: 0;
}

body.is-active {
    overflow: hidden;
}


header {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    z-index: 98;
    top: 0;
    width: 100%;
    padding: 1.5em 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    box-sizing: border-box;
}

/*START Logo styling*/
header .logo {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #351f16;
    text-decoration: none;
}

header .logo img {
    width: 50px;
    max-width: 20vw;
    height: auto;
}

/*END Logo styling*/


/*START navigation links*/
header .links_box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a { text-decoration: none;
    color: #fff;}
header .links_box a {
    color: #351f16;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    position: relative;
}

/*links underline on hover*/
header .links_box a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 1px;
    opacity: 0%;
    background-color: #351f16;
    transition: all 0.5s ease-in-out;
}

header .links_box a:hover:after {
    opacity: 100%;
    width: 100%;
}

/*RESPONSIVE LINKS*/
/*if screen width is wider than 1000px show the first menu item (which is Home)*/
@media screen and (min-width: 1000px) {
    header .links_box a:first-of-type {
        display: none;
    }
}

/*if screen width is wider than 1000px restyle the navigation links*/
@media screen and (max-width: 1000px) {
    header .links_box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: bisque;
        z-index: -99;
        opacity: 0;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20% 0;
    }

    header .links_box.is-active {
        z-index: 9990;
        opacity: 1;
        transform: translateY(0%);
    }
}

/*END navigation links*/

@media screen and (max-width:767px) {
    .locationdiv {
        display: flex;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
}

@media screen and (max-width:767px) {
    .menucontainer {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20vh;
    }

}

@media screen and (max-width:767px) {
    .menubox {
        width: 50%;
    }
}

@media screen and (max-width:767px) {
    .locationbox {
        width: 50%;
    }
}

/*hamburger (two lines) is only shown on screen smaller than 1000px. In this part you can see styling and animation of it*/
.hamburger {
    display: none;
}

@media screen and (max-width: 1000px) {
    .hamburger {
        padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        outline: none;
        z-index: 9999;
        display: block;
    }

    .hamburger.is-active .hamburger-inner {
        bottom: 0;
        transform: translate(0, -10px) rotate(-45deg);
    }

    .hamburger.is-active .hamburger-inner::before {
        top: 0;
        transform: rotate(-90deg);
    }

    .hamburger-box {
        width: 30px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-box::before {
        display: block;
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .hamburger-inner {
        display: block;
        top: auto;
        bottom: 5px;
    }

    .hamburger-inner,
    .hamburger-inner::before {
        width: 30px;
        height: 3px;
        background-color: #351f16;
        border-radius: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    .hamburger-inner::before {
        content: "";
        display: block;
        top: -10px;
    }

}