/*shopping cart page*/
.contact-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
}

.item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border:solid rgba(128,128,128, 0.25);
  border-radius:15px;
  box-shadow:5px

}

.textbox {
  padding: 2px;
}

.contact {
  font-size: 20px;
  padding: 5px;
}

.drink {
  height: 10%;
  width: 20%;
  border-radius: 5%;
}

.button {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.price {
  font-size: 20px;
}

.order-total {
      /* background-color: #f2f2f2; */
      color: white;
      font-size: 25px;
      text-align: center;
      width: 40%;
      color: black;
      margin-bottom: 8px;
      border-top:solid  black;
}

.outerbox {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  padding-right: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
  width: auto;
}

.arrowpic {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 5px;
  padding-top: 2px;
}

.arrow a:hover .arrowpic {
  transform: scale(1.2);
}

.Contact-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
}

.responsive {
  width: 100%;
  height: 10%;
}

.beans {
  background-image: url(../bean.jpg);
  background-size: cover;
  padding: 80px; /* Increased padding for better appearance */
  opacity: 0.8;
  margin-top: 70px;
  text-align: center;
  color: white;
  position: relative; /* Add relative positioning for the Slogan */
}

.Slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 54px;
}

.delete-button {
  display: flex;
  justify-content: center;
  background-color: #ff5a5a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 7px;
}

.textfields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.fake-button {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  background-color: black;
  color: white;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.fake-button:hover {
  background-color: red;
}

#plus {
  background-color: black;
  color: white;
}

#minus {
  background-color: black;
  color: white;
}

main {
  background-color: white;
  margin: 0;
  padding: 0;
}

.button input {
  width: 25px;
}

.X {
padding-right: 20px;
}


@media screen and (max-width: 767px) {
.item1 {
  display: flex;
  flex-direction: column;
  gap:10px;
}

}